<tr>
	<td><%=course.title%></td>
	<td>
		<% if (course.type==='free') { %>
		<span class="badge badge-primary">رایگان</span>
		<% } %> <% if (course.type==='cash') { %>
		<span class="badge badge-secondary">نقدی</span>
		<% } %> <% if (course.type==='vip') { %>
		<span class="badge badge-info">اعضای ویژه</span>
		<% } %>
	</td>
	<td><%=course.price%></td>
	<td>
		<%if( course.images !=null ||course.images !=undefined ){ %>
		<img src="<%=course.images['original']%>" style="width: 70px; height: 70px;" alt="" />
		<%} %>
	</td>
	<td><%=course.descript%></td>
	<td><%=course.time%></td>
	<td><%=course.tags%></td>
	<td>
		<% if(admin>0){ %>
		<a href="admin/edit/<%= course.course_id %>">
			<i class="material-icons">
				edit
			</i>
		</a>
		<a href="admin">
			<i class="material-icons">
				add
			</i>
		</a>
		<a href="admin/delete/<%= course.course_id %>">
			<i class="material-icons">
				delete
			</i>
		</a>

		<%} %>
	</td>
</tr>
