
<link rel="stylesheet" href="/assets/css/rtl.css" />
	<body>
		<div id="wrapper" class="rtl">
			<div id="container">
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<%if( typeof user!='undefined' ||check){ %>
									<a href="/admin" class="btn btn-warning  pull-left   btn-icon">
										<i class="material-icons">
											admin_panel_settings
										</i>
										<span>You logged in as an admin</span>
									</a> 
								<%}else{ %> 
									<span> شما هنوز در سایت  	<a href="/auth/register" class="btn btn-outline-secondary  btn-icon">
										<i class="material-icons">
											how_to_reg
										</i>
										<span>ثبت نام</span>
									</a> یا	<a href="/auth/login" class="btn btn-outline-info  btn-icon">
										<i class="material-icons">
											lock_open
										</i>
										<span>ورود</span>
									</a> نکرده اید</span>
								<%} %>
							</a>
						
							</div>
		
							<div class="card-body">
								<div class="actions">
									<a href="/tasks/add" class="btn btn-outline-success btn-icon">
										<i class="material-icons">
											note_add
										</i>
										<span>افزودن</span>
									</a>
									<a href="/" class="btn btn-outline-primary btn-icon">
										<i class="material-icons">
											list
										</i>
										<span>لیست وظایف</span>
									</a>
								<%if( typeof user!='undefined' ||check){ %>
										<a href="/auth/logout" class="btn btn-outline-danger  btn-icon">
											<i class="material-icons">
												exit_to_app
											</i>
											<span>خروج</span>
										</a> 
								<%} %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								لیست وظایف
							</div>
							<div class="card-body">
								<table class="table table-bordered table-hover table-striped">
									<thead>
										<tr>
											<th>عنوان</th>
											<th>دسته بندی</th>
											<th>انجام دهنده</th>
											<th>وضعیت</th>
											<th>عملیات</th>
										</tr>
									</thead>
									<tbody>
										<% tasks.forEach((task)=>{ %><%- include('item', {task: task}); %><% }); %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								 دوره های شما
							</div>
							<div class="card-body">
								<table class="table table-bordered table-hover table-striped">
									<thead>
										<tr>
											<th>نام دوره</th>
											<th>نوع دوره</th>
											<th>قیمت</th>
											<th>عکس</th>
											<th>توضیحات</th>
											<th>زمان</th>
											<th>برچسب</th>								
											<th>عملیات</th>
										</tr>
									</thead>
									<tbody>
										<% courses.forEach((course)=>{ %><%- include('courseItem', {course: course}); %><% }); %>
									</tbody>

						
								</table>
								<%if( courses[0]!=undefined ||courses[0]!=undefined){ %>
									<table class="table table-bordered table-hover table-striped">
									<tr>
									
										<th>قیمت کل دوره ها</th>
										<td><%=price%></td>
										<th>زمان کل دوره ها</th>
										<td><%=courses[0].total_time%></td>
										<td>تعداد دوره ها</td>
										<td><%=courses[0].total_course%></td>
									</tr>
									</table>
								<%} %>
							</div>
					
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>
